<% provide(:title, "Home") %>

<article id='gbl_main'>
	<div id="switch_sex_type_home">
		<nav>
			<ul>
				<li class="all current"><%= link_to "ALL", 'https://2a96874cd91d416185a404831e411f71.vfs.cloud9.us-east-2.amazonaws.com/users' %></li>
				<li class="men "><%= link_to "MAN", 'https://2a96874cd91d416185a404831e411f71.vfs.cloud9.us-east-2.amazonaws.com/users?utf8=%E2%9C%93&commit=%E6%A4%9C%E7%B4%A2&search%5Bsex%5D=1&search%5Bname%5D=' %></li>
				<li class="women "><%= link_to "WOMAN", 'https://2a96874cd91d416185a404831e411f71.vfs.cloud9.us-east-2.amazonaws.com/users?utf8=%E2%9C%93&commit=%E6%A4%9C%E7%B4%A2&search%5Bsex%5D=2&search%5Bname%5D=' %></li>
			</ul>
		</nav>
	</div>
	
	<div id="gbl_body_home" class="clearfix">
	
		<nav id="switch_menu">
			<ul>
				<li><a href="/">おすすめ</a></li>
				<li><a href="/">タイムライン</a></li>
			</ul>
		</nav>
	
		<div id="content_container" class="clearfix">
			
			<div id="content">
				<section class="pickupTagList clearfix">
					<h2 class="title">#おうちファッション</h2>
						<ul class="img_after_load clearfix">
					
							<% @microposts.each do |micropost| %>
							<li>
								<p><%= micropost.content %></p>
								<div class="image_container">
									<div class="item bottom" data-offsetx="0.0400" data-offsety="0.9080" style="left: -1.17188px; top: 233.812px;">
										<div class="container clearfix">
			                <p class="img"><%= link_to image_tag(micropost.image.to_s ,size: '200x200'),micropost_path(micropost)%></p>
											<div class="cnt">
												<div class="cnt_container">
													<p class="brand">BEAMS JAPAN</p>
													<p class="price">¥4,180</p>
												</div>
											</div>
											<div class="bug"><a href="/item/21306830/" class="af_coordinate_item icon_font" data-objectid="16814586" data-screenid="12"></a></div>
										<!-- /.container --></div>
									<!-- /.item --></div>
									<p class="useitem_tagshowbtn"><a href="javascript:void(0);"><span class="ico_tag"></span></a></p>
								<!-- /.image_container --></div>
								
								<div class="profile clearfix">
									
									<div class="content clearfix">
										<div class="main">
											<p class="name clearfix"><span class="namefirst">Ns</span></p>
											<p class="txt">166cm</p>
										</div>
									<!-- /.content --></div>
									
									<div class="btn_block">
										<div class="btn_follow">
											<p class="btn" data-memberid="6906129" data-username="" data-changetxt="フォロー中"><a href="/member/login.html?bkurl=%2F%3F" class="icon_font over"><span class="txt">フォローする</span></a></p>
											<input type="hidden" id="follow_user" value="EMFWDTKXVFLYKZJQ">
											<input type="hidden" id="follow_account" value="EMFWDTKX20200614204205085">
										<!-- /.btn_follow --></div>
									<!-- /.btn_block --></div>
									
								<!-- /.profile --></div>
							</li>
							<% end %>
	
						</ul>
					<p class="btn_more"><a href="/coordinate/?tag_ids=739969" class="over">もっと見る</a></p>
				<!-- /.pickupTagList --></section>
				
			
				<section id="ranking" class="ranking clearfix">
					<div class="title_container clearfix">
						<h2 class="title">ランキング</h2>
						<p class="update">UPDATE 20:00</p>
					</div>
					
					<ol class="clearfix">
						<li>
							<p class="rank">1</p>
							<div class="image_container">
								<p class="img"><a href="/fwafwa7/17056206/" class="over"><img src="//cdn.wimg.jp/coordinate/z7v8tq/20200614173534469/20200614173534469_320.jpg" srcset="//cdn.wimg.jp/coordinate/z7v8tq/20200614173534469/20200614173534469_500.jpg" alt="きりまるさんの「リブボートネックT（5分袖）（UNIQLO｜ユニクロ）」を使ったコーディネート" width="246" height="328"></a></p>
								<div class="item right" data-offsetx="0.6150" data-offsety="0.2830" style="left: auto; right: 83.7031px; top: 28.3%;">
									<div class="container clearfix">
										<p class="img"><a href="/item/40575723/" class="over af_coordinate_item" data-objectid="17056206" data-screenid="12"><img src="//cdn.wimg.jp/item/40575723/908d90a474ae9/20190702020116767_70.jpg" srcset="//cdn.wimg.jp/item/40575723/908d90a474ae9/20190702020116767_125.jpg" alt="ユニクロの「リブボートネックT（5分袖）（Tシャツ・カットソー）」" width="40" height="48"></a></p>
										<div class="cnt">
											<div class="cnt_container">
											<p class="brand">ユニクロ</p>
											<p class="price">¥1,100</p>
											</div>
										</div>
										<div class="bug"><a href="/item/40575723/" class="af_coordinate_item icon_font" data-objectid="17056206" data-screenid="12"></a></div>
									<!-- /.container --></div>
								<!-- /.item --></div>
								<p class="useitem_tagshowbtn"><a href="javascript:void(0);"><span class="ico_tag"></span></a></p>
							<!-- /.image_container --></div>
							
							<div class="profile clearfix">
								<div class="content clearfix">
									<div class="sub">
										<p class="img"><a href="/fwafwa7/" class="over"><img src="//cdn.wimg.jp/profile/z7v8tq/20200513014207507_32.jpg" srcset="//cdn.wimg.jp/profile/z7v8tq/20200513014207507_80.jpg" alt="きりまるさん" width="32" height="32"></a></p>
									</div>
									<div class="main">
										<p class="name clearfix"><span class="namefirst">きりまる</span></p>
										<p class="txt">154cm</p>
									</div>
								</div>
								<div class="btn_block">
									<div class="btn_follow">
										<p class="btn" data-memberid="5690494" data-username="fwafwa7" data-changetxt="フォロー中"><a href="/member/login.html?bkurl=%2F%3F" class="icon_font over"><span class="txt">フォローする</span></a></p>
										<input type="hidden" id="follow_user" value="EMFWDTKXVFLYKZJQ">
										<input type="hidden" id="follow_account" value="EMFWDTKX20200614204205085">
									<!-- /.btn_follow --></div>
								<!-- /.btn_block --></div>
							<!-- /.profile --></div>
						</li>
					</ol>
					<p class="btn_more"><a href="/ranking/" class="over">もっと見る</a></p>
				<!-- /.ranking --></section>
				
			<!-- /.content --></div>
		
			<div id="sidebar">
				
				<section id="search">
					<h2 class="title">探す</h2>
					<ul>
						<li class="coordinate icon_font clearfix"><%= link_to "ヘアスタイルを探す", microposts_path %></li>
						<li class="user icon_font clearfix"><%= link_to "ユーザーを探す", users_path %></li>
						<li class="item icon_font clearfix"><a href="/item/">アイテムを探す</a></li>
						<li class="shop icon_font clearfix"><a href="/shop/">ヘアサロンを探す</a></li>
					</ul>
				</section>
	
			
			<section id="user">
				<h2 class="title">ユーザー</h2>
				<ol>
					
					<% @users.each do |user| %>
						<li class="clearfix">
							<div class="sub">
								<p class="img">
									<%= link_to image_tag("//cdn.wimg.jp/profile/kzighc/20170309105820975_200.jpg",width: '36',height: '36', alt: "プロフィール画像"),user_path(user) %>
								</p>
							</div>
							<div class="main">
								<p class="name clearfix"><span class="namefirst"><%= user.name %></span></p>
								<p class="txt icon_font">339,419</p>
							</div>
						</li>
					<% end %>
				
					<li class="clearfix">
						<div class="sub">
							<p class="img"><a href="/takahashiai/" class="over"><img src="//cdn.wimg.jp/profile/x3s5ee/20200506020910320_200.jpg" alt="ZETTOさん" width="36" height="36"></a></p>
						</div>
						<div class="main">
							<p class="name clearfix type_on"><span class="namefirst">高橋愛</span><span class="icon_font user_type_ico small wearista"></span></p>
							<p class="txt icon_font">2,504,965</p>
						</div>
					</li>

				</ol>
				<p class="btn_more"><a href="/ranking/user/" class="over">もっと見る</a></p>
			</section>
			
			
			<section id="brand">
				<h2 class="title">ブランド</h2>
				<ol>
			
					<li>
						<p class="txt"><a href="/brand/uniqlo/">UNIQLO</a></p>
					</li>
					<li>
						<p class="txt"><a href="/brand/gu/">GU</a></p>
					</li>
					<li>
						<p class="txt"><a href="/brand/converse/">CONVERSE</a></p>
					</li>
					<li>
						<p class="txt"><a href="/brand/wego/">WEGO</a></p>
					</li>
					<li>
						<p class="txt"><a href="/brand/nike/">NIKE</a></p>
					</li>
					<li>
						<p class="txt"><a href="/brand/adidas/">adidas</a></p>
					</li>
			
					<li>
						<p class="txt"><a href="/brand/zara/">ZARA</a></p>
					</li>
			
					<li>
						<p class="txt"><a href="/brand/hm/">H&amp;M</a></p>
					</li>
			
					<li>
						<p class="txt"><a href="/brand/drmartens/">Dr.Martens</a></p>
					</li>
			
					<li>
						<p class="txt"><a href="/brand/globalwork/">GLOBAL WORK</a></p>
					</li>
			
				</ol>
				<p class="btn_more"><a href="/brand/" class="over">もっと見る</a></p>
			</section>
			
	
			<section id="trend_keyword">
				<p class="title">急上昇ワード</p>
				<div id="keywords" class="img_after_load data"><ul class="link"><li><a href="/coordinate/?search_word=%E3%82%B7%E3%82%A2%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%84&amp;trendword_flag=1">シアーシャツ</a></li><li><a href="/coordinate/?search_word=%E9%BA%A6%E3%82%8F%E3%82%89%E5%B8%BD%E5%AD%90&amp;trendword_flag=1">麦わら帽子</a></li><li><a href="/coordinate/?search_word=%E7%99%BDT%E3%82%B7%E3%83%A3%E3%83%84&amp;trendword_flag=1">白Tシャツ</a></li><li><a href="/coordinate/?search_word=%E3%82%AF%E3%83%AA%E3%82%A2%E3%83%90%E3%83%83%E3%82%B0&amp;trendword_flag=1">クリアバッグ</a></li><li><a href="/coordinate/?search_word=%E3%82%BF%E3%83%83%E3%82%AF%E3%82%A4%E3%83%B3&amp;trendword_flag=1">タックイン</a></li><li><a href="/coordinate/?search_word=%E3%83%AA%E3%83%8D%E3%83%B3%E3%83%91%E3%83%B3%E3%83%84&amp;trendword_flag=1">リネンパンツ</a></li><li><a href="/coordinate/?search_word=UNIQLO&amp;trendword_flag=1">UNIQLO</a></li><li><a href="/coordinate/?search_word=%E3%82%A2%E3%83%BC%E3%82%B9%E3%82%AB%E3%83%A9%E3%83%BC&amp;trendword_flag=1">アースカラー</a></li></ul></div>
			</section>
			
			</div>
		</div>
	</div>

</article>

