<% provide(:title, "ログイン") %>

<article id="gbl_main">
  
  <div id="gbl_body" class="clearfix">
    
    <div id="login" class="clearfix">
    		<div id="wearid" class="section">
    			<h2>WEAR IDでログイン</h2>
    			<% flash.each do |message_type, message| %>
        		<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      		<% end %>
    			<div class="wear loginfunction">
    				<%= form_for(:session, url: login_path) do |f| %>
    					<div class="error"></div>
    					<div class="input">
    						<p><%= f.email_field :email ,:placeholder => "メールアドレス"%></p>
    						<p><%= f.password_field :password, :placeholder => "パスワード"%></p>
    						<div class="captcha clearfix">
    	<div class="captchaCnt">
    		<span class="div_captcha"><img src="https://wear.jp/captcha?1592917310286"></span>
    		<span><a href="javascript:void(0)" class="changeCaptcha icon_font over">画像を変更する</a></span>
    	</div>
    	<ul class="captchaFormCnt">
    		<li><input type="text" class="captcha_text" name="captcha_text" autocomplete="off" value="" placeholder="画像の文字を入力"></li>
    		<li class="info">※大文字・小文字は区別しません。</li>
    	</ul>
    </div>
    					<!-- /.input --></div>
    					
    					<div class="sub clearfix">
    						<p class="btn"><%= f.submit "ログイン"%></p>
    						<div class="cnt">
    							<p class="check"><%= f.check_box :remember_me %><label for="wear_id_check">次回からのIDの入力を省略</label></p>
    							<p class="forgot"><a href="/member/password_reset.html">パスワードを忘れた方はこちら</a></p>
    						</div>
    						<input type="hidden" name="c" value="member_login">
    					<!-- /.sub --></div>
    
    				<% end %>
    			<!-- /.content --></div>
    			<p class="newaccount"><%= link_to "はじめてご利用の方（新規会員登録）", new_user_path %></p>
    		<!-- /#wearid --></div>
    		<div id="outside" class="section">
    			<h2>外部サイトIDでログイン</h2>
    			<ul>
    				
    				<li class="zozo ol_login"><a href="javascript:void(0);" class="over icon_font"><span class=" ico_zozotown"></span>ZOZO IDでログイン</a></li>
    				
    					<li class="facebook over">
    						<a href="javascript:void(0);" class="over"><span class="ico_facebook"></span>Facebookでログイン</a>
    					</li>
    					<li class="twitter over">
    						<a href="javascript:void(0);" class="over"><span class="ico_twitter"></span>Twitterでログイン</a>
    					</li>
    			
    			</ul>
    			<form action="" name="loginFacebook"><input type="hidden" name="c" value="FacebookLogin"></form>
    			<form action="" name="loginTwitter"><input type="hidden" name="c" value="TwitterLogin"></form>
    			<form action="" name="loginWeibo"><input type="hidden" name="c" value="WeiboLogin"></form>
    	<!-- /#outside --></div>
    <!-- /#login --></div>
    
  </div>

</article>
