<header id="gbl_header">
	
	<div id="gbl_header_bar">
		<div class="container">
			<div id="hdr_search" class="container-element">
				<form id="gSearch_form" action="/" method="get" data-notxt="ワードを入力してください">
					<p class="input"><span class="icon_font"><input type="text" autocomplete="off" placeholder="コーディネートやユーザーを探す" data-txtdefault="コーディネートやユーザーを探す" data-txtcoordinate="コーディネートを探す" data-txtuser="ユーザーを探す" data-txtitem="アイテムを探す" data-txtshop="ショップを探す" value=""></span></p>
				</form>
				<p class="moresearch"><a href="#" class="icon_font">条件を指定して検索</a></p>
			<!-- /#hdr_search --></div>
			
			<h1 class="logo container-element"><%= link_to image_tag("wearLogo.png"),'/' %></h1>
			
			<div class="mycontent container-element">
				<div class="user">
					<div class="trigger">
						<p class="clearfix">
						<% if logged_in? %>
							<%= link_to image_tag("//cdn.wimg.jp/content/no_image/profile/nu_80.gif",width: '30',height: '30', alt: "ssdさんのプロフィール画像"),user_path(current_user) %>
							<span class="name"><%=current_user.name%></span>
						<% else %>
							<%= link_to image_tag("//cdn.wimg.jp/content/no_image/profile/nu_80.gif",width: '30',height: '30', alt: "ssdさんのプロフィール画像"),login_path %>
							<span class="name">ログイン</span>
						<% end %>
						</p>
					<!-- /.trigger --></div>
				<!-- /.user --></div>
				<p class="notice"><a href="/member/notice/" class="icon_font over"></a></p>
			<!-- /.mycontent --></div>
				
			<div class="close"><span class="icon_font over"></span></div>
		<!-- /.container --></div>
	<!-- /#gbl_header_bar --></div>
	
	<div id="gbl_header_mycontent">
		<div class="container">
			<div class="user">
				<ul>
					<li><a href="/member/">マイページ</a></li>
					<li><a href="/member/feed/">タイムライン</a></li>
					<li><a href="/member/analytics/">アクティビティレポート</a></li>
					<li><a href="/member/edit/">基本設定</a></li>
				</ul>
				<% if logged_in? %>
					<p class="logout"><%= link_to "ログアウト", logout_path, method: :delete %></p>
				<% else %>
					<p class="logout"><%= link_to "ログイン", login_path, method: :get %></p>
				<% end %>
			<!-- /.user --></div>
		<!-- /.container --></div>
	<!-- /#gbl_header_mycontent --></div>
	
<!-- /#gbl_header --></header>