<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <div id='container'>
      <%= render 'layouts/header' %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>